html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 2em;
  background-color: #ffeedd;
  display: grid;
  grid-template-rows: 10vh auto;
  row-gap: 3em;
}

#content {
  display: flex;
  /* justify-content: center; */
  justify-self: center;
  height: 100%;
  width: 100%;
}

.button {
  width: fit-content;
  padding: 1em;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #e25540;
  color: white;
  border-radius: 8px;
  border: none;
}

.header {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-items: center;
  align-items: center;
}

.header div {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}

.header div ul li {
  list-style-type: none;
  cursor: pointer;
}
.profile {
  height: 25px;
  width: 25px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: flex;
  flex-direction: column;

  padding: 1em;
  padding-top: 8em;
  row-gap: 2em;
}

.info h1 {
  font-size: 8.3rem;
}

.info p {
  width: 73%;
  font-size: 2rem;
  line-break: auto;
}

.media {
  display: flex;
}

.bowl {
  height: 90%;
  padding-top: 13em;
}

.offer {
  align-self: flex-start;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #d2326f;
  justify-items: center;
  align-items: center;
}

.details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6em;
  padding: 2em;
}

.details p:nth-child(1) {
  font-size: 4.8rem;
}

.details p:nth-child(2) {
  font-size: 2rem;
}

.card img {
  height: 250px;
}

.contact {
  width: 100%;
}

.heading {
  text-align: center;
  height: 10vh;
  margin-bottom: 3.2em;
}

.heading h1 {
  font-size: 4.8rem;
}

.contact p {
  font-size: 3.2rem;
}

.contact p:nth-child(2)::after {
  content: "  delhi, india.";
  color: black;
  font-size: 2.4rem;
}
.contact p:nth-child(3)::after {
  content: "  +91 1234567890";
  color: black;
  font-size: 2.4rem;
}

.contact iframe {
  margin-top: 3em;
  height: 100%;
  width: 100%;
}
